/* Start content-body */
.content .content-body {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
  gap: 10px;
}
@media (max-width:768px) {
  .content .content-body{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
.content .content-body .card{
  border: none;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 0 5px #ddd;
  background-color: white;
}
.content .content-body .card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #99999925;
  padding: 20px;
  position: relative;
}
.content .content-body .card .top .left h3{
  margin-bottom: 15px;
  font-size: 19px;
}
.content .content-body .card .top .left p{
  color: #999;
  font-size: 12px;
}

.content .content-body .card .top .right{
  width: 150px;
}
.content .content-body .card .top .right img{
  width: 100%;
}
@media (max-width:768px) {
  .content .content-body .card .top .right .image{
    display: none;
  }
}
.content .content-body .card .top .image-down{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  bottom: -26px;
}
@media (max-width:768px) {
  .content .content-body .card .top .image-down{
    left: 50%;
    transform: translateX(-50%);
  }
}
.content .content-body .card .top  .image-down img{
  width: 100%;
}
.content .content-body .card .core{
  padding: 50px 10px;
}
.content .content-body .card  .core .info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
@media (max-width:768px) {
  .content .content-body .card  .core .info{
    flex-direction: column;
    gap: 20px;
  }
}
.content .content-body .card  .core .info div{
  text-align: center;
}
.content .content-body .card  .core .info div h2{
  font-size: 17px;
  margin-bottom: 12px;
  font-weight: normal;
}
.content .content-body .card  .core .info div p{
  color: #999999;
}

.content .content-body .card  .core button{
  display: block;
  margin: 20px 50px 0 auto;
  padding: 10px 20px;
  background-color: var(--blue-color);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  transition: 0.4s;
}
.content .content-body .card  .core button:hover{
  background-color: var(--blue-alt-color);
}

@media (max-width:768px) {
  .content .content-body .card  .core button{
    margin: 20px auto 0;
  }
}

/* Start Card 2(Quick draft) */
.content .content-body .card:nth-of-type(2){
  background-color: white;
}
.content .content-body .card:nth-of-type(2) .top{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.content .content-body .card:nth-of-type(2) .top h3{
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(2) .core{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.content .content-body .card:nth-of-type(2) .core input,
.content .content-body .card:nth-of-type(2) .core textarea{
  width: 80%;
  background-color: #99999925;
  border: none;
  outline: none;
  padding-left: 20px;
  border-radius: 6px;
}
.content .content-body .card:nth-of-type(2) .core input{
  height: 30px;
  margin-bottom: 20px;
}
.content .content-body .card:nth-of-type(2) .core textarea{
  height: 120px;
  padding-top: 10px;
}

/* End Card 2(Quick draft) */

/* Start Card 3(Yearly Target) */
.content .content-body .card:nth-of-type(3) .top{
  background-color: white;
}
.content .content-body .card:nth-of-type(3) .core{
  padding: 20px;
} 
.content .content-body .card:nth-of-type(3) .core .row{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .content-body .card:nth-of-type(3) .core .row .image{
  margin-right: 20px;
  padding: 30px;
}
.content .content-body .card:nth-of-type(3) .core .orange .image{
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
  font-size: 10px;
}
.content .content-body .card:nth-of-type(3) .core .blue .image{
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}
.content .content-body .card:nth-of-type(3) .core .green .image{
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.content .content-body .card:nth-of-type(3) .core .row .text{flex: 1;}
.content .content-body .card:nth-of-type(3) .core .row .text p{
  color: lightgrey;
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(3) .core .row .text >span{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.content .content-body .card:nth-of-type(3) .core .row .text .progress .progress-bar{
  position: relative;
}
.content .content-body .card:nth-of-type(3) .core .row .text .progress span{
  position: absolute;
}

.content .content-body .card:nth-of-type(3) .core .blue .text .progress{
  background-color: rgb(0 117 255 / 20%);
  height: 4px;
}
.content .content-body .card:nth-of-type(3) .core .blue .text .progress .progress-bar{
  background-color: var(--blue-color);
  width: 80%;
  height: 4px;
}

.content .content-body .card:nth-of-type(3) .core .blue .text .progress  span{
  padding: 1px 3px;
  border-radius: 5px;
  background-color: var(--blue-color);
  color: white;
  top:-38px;
  right: -20px;
}
.content .content-body .card:nth-of-type(3) .core .blue .text .progress  span::before{
  position: absolute;
  content: '';
  top:19px;
  right: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--blue-color) transparent transparent transparent;
}



.content .content-body .card:nth-of-type(3) .core .orange .text .progress{
  background-color: rgb(245 158 11 / 20%);
  height: 4px;
}
.content .content-body .card:nth-of-type(3) .core .orange .text .progress .progress-bar{
  background-color: var(--orange-color);
  width: 55%;
  height: 4px;
}

.content .content-body .card:nth-of-type(3) .core .orange .text .progress  span{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--orange-color);
  color: white;
  top:-38px;
  right: -20px;
}
.content .content-body .card:nth-of-type(3) .core .orange .text .progress  span::before{
  position: absolute;
  content: '';
  top:24px;
  right: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--orange-color) transparent transparent transparent;
}



.content .content-body .card:nth-of-type(3) .core .green .text .progress{
  background-color: rgb(34 197 94 / 20%);
  height: 4px;
}
.content .content-body .card:nth-of-type(3) .core .green .text .progress .progress-bar{
  background-color: var(--green-color);
  width: 75%;
  height: 4px;
}

.content .content-body .card:nth-of-type(3) .core .green .text .progress  span{
  padding: 5px;
  border-radius: 5px;
  background-color: var(--green-color);
  color: white;
  top:-38px;
  right: -20px;
}
.content .content-body .card:nth-of-type(3) .core .green .text .progress  span::before{
  position: absolute;
  content: '';
  top:24px;
  right: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--green-color) transparent transparent transparent;
}

/* End Card 3 (Yearly Target)*/

/* Start Card 4 */
.content .content-body .card:nth-of-type(4) .core{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
  padding: 10px;
}
@media(max-width:425px){
  .content .content-body .card:nth-of-type(4) .core{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
  gap: 20px;
  padding: 10px;
}
}
.content .content-body .card:nth-of-type(4) .core .row{
  border: 1px solid #ddd;
  padding: 20px 30px;
  border-radius: 5px;
  text-align: center;
}
.content .content-body .card:nth-of-type(4) .core .row i{
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(4) .core .row i.orange{
  color: var(--orange-color);
}
.content .content-body .card:nth-of-type(4) .core .row i.blue{
  color: var(--blue-color);
}

.content .content-body .card:nth-of-type(4) .core .row i.green{
  color: var(--green-color);
}

.content .content-body .card:nth-of-type(4) .core .row i.red{
  color: var(--red-color);
}

.content .content-body .card:nth-of-type(4) .core .row p{
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(4) .core .row span{
  font-size: 12px;
  color: lightgray;
}
/* End Card 4 */

/* Start Card 5 */
.content .content-body .card:nth-of-type(5) .core .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:768px) {
.content .content-body .card:nth-of-type(5) .core .row{
 flex-direction: column;
 margin-bottom: 20px;
 text-align: center;
}
}
.content .content-body .card:nth-of-type(5) .core .row .image{
  width: 100px;
}
.content .content-body .card:nth-of-type(5) .core .row .image img{
  width: 100%;
}
.content .content-body .card:nth-of-type(5) .core .row .info{
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
}
.content .content-body .card:nth-of-type(5) .core .row .info h3{
  margin-top: 0;
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(5) .core .row .info p{
  color: #999;
}
/* End Card 5 */

/* Start Card 6 */
.content .content-body .card:nth-of-type(6) .top {
  background-color: white;
} 
.content .content-body .card:nth-of-type(6) .core .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.content .content-body .card:nth-of-type(6) .core .row .info{
  display: flex;
  flex-direction: column;
  border: none;
  gap: 2px;
}
.content .content-body .card:nth-of-type(6) .core .row .info h3{
  font-size: 19px;
  margin-bottom: 5px;
}
.content .content-body .card:nth-of-type(6) .core .row .info p{
  color: #999;
  font-size: 13px;
}
.content .content-body .card:nth-of-type(6) .core .row i{
  transition: 0.4s;
}
.content .content-body .card:nth-of-type(6) .core .row i:hover{
  color: var(--red-color);
}
.content .content-body .card:nth-of-type(6) .core .row:nth-of-type(4){
  background-color: rgb(0 0 0/ 1%);
  color: #888;
  
}
.content .content-body .card:nth-of-type(6) .core .row:nth-of-type(4) .info{
  text-decoration: line-through;
}
/* End Card 6 */

/* Start Card 7 */
.content .content-body .card:nth-of-type(7) .core{
  padding: 20px;
}
.content .content-body .card:nth-of-type(7) .core .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin-bottom: 40px;
}
.content .content-body .card:nth-of-type(7) .core .row:first-of-type{
  color: #888;
  font-size: 13px;
}

.content .content-body .card:nth-of-type(7) .core .row span{
  padding: 10px;
  background-color: rgb(0 0 0/ 10%);
  border-radius: 5px;
}
/* End Card 7 */
/* Start Card 8 */

.content .content-body .card:nth-of-type(8) .core .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.content .content-body .card:nth-of-type(8) .core .row .image{
  width: 120px;
  display: flex;
  align-items: center;
}
.content .content-body .card:nth-of-type(8) .core .row .image img{
  width: 40%;
  margin-right: 10px;
}
.content .content-body .card:nth-of-type(8) .core .row .image .text h4{
    margin-bottom: 5px;
    font-weight: normal;
}
@media (max-width:321px) {
  .content .content-body .card:nth-of-type(8) .core .row .image .text h4{
    font-size: 13px;
  }
}
.content .content-body .card:nth-of-type(8) .core .row .image .text p{
  color: #888;
  font-size: 12px;
}
.content .content-body .card:nth-of-type(8) .core .row span{
  padding: 10px;
  background-color: rgb(0 0 0/ 10%);
  border-radius: 5px;
}
@media (max-width:321px) {
  .content .content-body .card:nth-of-type(8) .core .row span{
    padding: 4px;
  }
}
/* End Card 8 */
/* Start Card 9 */
.content .content-body .card:nth-of-type(9) .core ul{
  position: relative;
  padding: 0 20px;
}
.content .content-body .card:nth-of-type(9) .core ul::before{
  position: absolute;
  content: '';
  left: 9px;
  top: 0;
  background-color: var(--blue-color);
  width: 2px;
  height: 100%;
}
.content .content-body .card:nth-of-type(9) .core ul li{
  margin-bottom: 30px;
  padding-left: 10px;
  position: relative;
}
.content .content-body .card:nth-of-type(9) .core ul li::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  outline: 2px solid var(--blue-color);
}
.content .content-body .card:nth-of-type(9) .core ul li.done::before{
  background-color: var(--blue-color);
}
.content .content-body .card:nth-of-type(9) .core ul li.current::before{
  animation: popup 4s infinite linear;
}
@keyframes popup {
  0%,30%,50%,70%,90%{
    background-color: var(--blue-color);
  }
  20%,40%,60%,80%,100%{
    background-color: white;
  }
}
/* End Card 9 */
/* Start Card 10 */
.content .content-body .card:nth-of-type(10) .core ul{
  padding-left: 30px;
}
.content .content-body .card:nth-of-type(10) .core ul li{
  position: relative;
  padding-left: 20px;
  border-left-width: 2px;
  border-left-style: solid;
  margin-bottom: 20px;
}

.content .content-body .card:nth-of-type(10) .core ul li::before{
  position: absolute;
  content: '';
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 13px;
  border-radius: 50%;
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(1)::before{
  background-color: var(--blue-color);
}

.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(1){
  border-left-color: var(--blue-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(2)::before{
  background-color: var(--green-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(2){
  border-left-color: var(--green-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(3)::before{
  background-color: var(--orange-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(3){
  border-left-color: var(--orange-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(4)::before{
  background-color: var(--red-color);
}
.content .content-body .card:nth-of-type(10) .core ul li:nth-of-type(4){
  border-left-color: var(--red-color);
}

.content .content-body .card:nth-of-type(10) .core ul li h4{
  font-size: 13px;
  font-weight: normal;
}
.content .content-body .card:nth-of-type(10) .core ul li p{
  font-size: 11px;
  color: #999;
}
/* End Card 10 */
/* Start Card 11 */
.content .content-body .card:nth-of-type(11) .core .info img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
} 
.content .content-body .card:nth-of-type(11) .core .post{
  padding: 10px;
}
.content .content-body .card:nth-of-type(11) .core .post p{
  padding: 10px;
  line-height: 1.7;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.content .content-body .card:nth-of-type(11) .core .post div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #999;
  font-size: 13px;
}

.content .content-body .card:nth-of-type(11) .core .post div i{
  margin-right: 5px;
}
/* End Card 11 */
/* Start Card 12 */
.content .content-body .card:nth-of-type(12) .core .row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 5px;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(1){
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}

.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(2){
  background-color: rgb(24 119 242 / 20%);  
  color: #1da1f2;
}

.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(3){
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}

.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(4){
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}

.content .content-body .card:nth-of-type(12) .core .row div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .content-body .card:nth-of-type(12) .core .row div p{
  font-size: 11px;
}
.content .content-body .card:nth-of-type(12) .core .row div i{
  margin-right: 10px;
  color: white;
  width:50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(1) div i{
  background-color: #1da1f2;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(2) div i{
  background-color: #1da1f2;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(3) div i{
  background-color: #ff0000;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(4) div i{
  background-color: #0077b5;
}
.content .content-body .card:nth-of-type(12) .core .row span{
  padding: 5px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(1) span{
  background-color: #1da1f2;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(2) span{
  background-color: #1da1f2;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(3) span{
  background-color: #ff0000;
}
.content .content-body .card:nth-of-type(12) .core .row:nth-of-type(4) span{
  background-color: #0077b5;
}
/* End Card 12 */
/* Start Card 13 */
@media (min-width:1440px) {
  .content .content-body .card:nth-of-type(13){
    min-width: 1090px;
    /* width: 100%; */
  }
}

.content .content-body .card:nth-of-type(13) .core{
  overflow-x: scroll;
}
.content .content-body .card:nth-of-type(13) .core table {
  border-collapse: collapse; 
  width: 100%;
}
.content .content-body .card:nth-of-type(13) .core table thead{
  background-color: #99999944;
  font-size: 14px;
}

.content .content-body .card:nth-of-type(13) .core table thead th{
  padding: 10px 20px;
  margin: 0;
}
.content .content-body .card:nth-of-type(13) .core table tbody tr{
  border-bottom: 1px solid #ddd;
  transition: 0.4s;
}
.content .content-body .card:nth-of-type(13) .core table tbody tr:hover{
  background-color: rgb(255 0 0 /3%);
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td{
  padding: 15px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td img{
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td img:not(:first-of-type){
  margin-left: -8px;
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td span{
  padding: 5px;
  border-radius: 4px;
  font-size: 7px;
  color: white;
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td span.orange{
  background-color: var(--orange-color);
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td span.blue{
  background-color: var(--blue-color);
}

.content .content-body .card:nth-of-type(13) .core table tbody tr td span.green{
  background-color: var(--green-color);
}
.content .content-body .card:nth-of-type(13) .core table tbody tr td span.red{
  background-color: var(--red-color);
}


/* End Card 13 */
/* End content-body */

/* End Dashbord Content */
