/* Start Flex */
.d-flex{
  display: flex;
}
.flex-1{
  flex: 1;
}
.f-wrap{
  flex-wrap: wrap;
}
.align-center{
  align-items: center;
}
.space-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}
.between-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* End Flex */

/* Start Grid */
.d-grid{
  display: grid;
}
.gap-20{
  gap: 20px;
}
/* End Grid */



/* Start Block */
.d-block{
  display: block;
}
/* End Block */

/* Start Width */
.w-full{
  width: 100%;
}
.w-fit{
  width: fit-content;
}
/* End Width */

/* Start Position */
.p-relative{
  position: relative;
}
/* End Position */




/* Start Padding */
.p-10{
  padding: 10px;
}
.p-20{
  padding: 20px;
}
/* End Padding */




/* Start Margings */
.my-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-50{
  margin-bottom: 50px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
/* End Margings */


/* Start Fonts */
.fs-14{
  font-size: 14px;
}
.fs-19px{
  font-size: 19px;
}
/* End Fonts */


/* Start Text */
.txt-c{
  text-align: center;
}
/* End Text */


/* Start Color */
.bg-white{
  background-color: white;
}
.bg-blue{
  background-color: var(--blue-color);
}
.bg-eee{
  background-color: #eee;
}
.bg-green{
  background-color: var(--green-color);
}
.bg-orange{
  background-color: var(--orange-color);
}
.bg-grey{
  background-color: rgb(136 136 136 / 50%);
}
.c-black{
  color: black;
}
.c-white{
  color: white;
}
.c-grey{
  color: var(--grey-color);
}

.c-blue{
  color: var(--blue-color);
}
.c-eee{
  color: #eee;
}
.c-green{
  color: var(--green-color);
}
.c-orange{
  color: var(--orange-color);
}
.c-red{
  color: var(--red-color);
}
/* End Color */



/* Start Border */
.rad-6{
  border-radius: 6px;
}
.rad-10{
  border-radius: 10px;
}
.rounded{
  border-radius: 50%;
}
.b-none{
  border: none;
}
.o-none{
  outline: none;
}
/* End Border */