.content-body{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
  gap: 20px;
  padding: 20px;
}

.content-body .card{
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  overflow:hidden;
}

.content-body .card .card-header .contact{
  margin-bottom: 6px;
  display: flex;
}
.content-body .card .card-header .contact i{
  background-color: rgb(0 0 0 / 8%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: 0.4s;
}

.content-body .card .card-header .contact i:hover{
  background-color: var(--blue-color);
  color: white;
}

.content-body .card .card-header .desc{
  text-align: center;
  margin-bottom: 10px;
}

.content-body .card .card-header .desc img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.content-body .card .card-header .desc h3{
  margin-bottom: 10px;
}

.content-body .card .card-header .desc p{
  color: #999;
  font-size: 14px;
}

.content-body .card .card-body {
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.content-body .card .card-body .row{
  padding-top: 15px;
  padding-bottom: 15px;
}

.content-body .card .card-body .row i{
  margin-right: 5px;
}
.content-body .card .card-body  .vip{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: var(--orange-color);
  opacity: 0.2;
}



.content-body .card .card-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-body .card .card-footer .joined-date{
  color: #999;
  font-weight: bold;
  font-size: 13px;
  font-style: italic;
}
.content-body .card .card-footer div span{
  padding: 7px 10px;
  color: white;
  border-radius: 5px;
  margin-left: 6px;
  font-size: 12px;
}
.content-body .card .card-footer div span.remove{
  background-color: var(--red-color);

}
.content-body .card .card-footer div span.profile{
  background-color: var(--blue-color);
}