/* Start Global Rules */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

@media (max-width:767px) {
  .hide-mobile{
    display: none;
  }
}

/* End Global Rules */

/* Start Page */
.page{
  background-color: #f2f5f9;
  min-height: 100vh;
}
/* End Page */

/* Start Sidebar */
.sidebar{
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

@media (max-width:767px) {
  .sidebar{
    width: 62px;
    padding: 10px;
  }
}

@media (max-width:767px) {
  .sidebar h3{
    font-size: 13px;
  }
}

.sidebar h3::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  background-color: black;
  width: 120px;
  height: 3px;
}

.sidebar h3::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  background-color: white;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@media (max-width:767px) {
  .sidebar h3::before,
  .sidebar h3::after{
    display: none;
  }
}

.sidebar ul li a{
  transition: 0.4s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active
{
  background-color: #d9d9d9;
}

/* End Sidebar */

/* Start Head */
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input{
  padding-left: 30px;
  width: 160px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: 0.4s;
}
.head .search input:focus{
  transition: 0.4s;
  width: 180px;
}
.head .search input:focus::placeholder{
  color: transparent;
}
.head .icons::before{
  content: '';
  position: absolute;
  right: 35px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;

}
.head .icons img{
  width: 30px;
  height: 30px;
}
/* End Head */