/* Start Global Rules */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

@media (max-width:767px) {
  .hide-mobile{
    display: none;
  }
}

@media (max-width:767px) {
  .txt-c-mobile{
    text-align: center;
  }
}

@media (max-width:767px) {
  .d-block-mobile{
    display: block;
  }
}

.btn-shape{
  padding: 5px;
  border-radius: 6px;
  background-color: var(--blue-color);
  color: white;
}

/* End Global Rules */

/* Start Page */
.page{
  background-color: #f2f5f9;
  min-height: 100vh;
}
/* End Page */

/* Start Sidebar */
.sidebar{
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

@media (max-width:767px) {
  .sidebar{
    width: 62px;
    padding: 10px;
  }
}

@media (max-width:767px) {
  .sidebar h3{
    font-size: 13px;
  }
}

.sidebar h3::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -12px;
  background-color: black;
  width: 120px;
  height: 3px;
}

.sidebar h3::after{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -17px;
  background-color: white;
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

@media (max-width:767px) {
  .sidebar h3::before,
  .sidebar h3::after{
    display: none;
  }
}

.sidebar ul li a{
  transition: 0.4s;
}
.sidebar ul li a:hover,
.sidebar ul li a.active
{
  background-color: #d9d9d9;
}

/* End Sidebar */

/* Start Content */
.content{
  overflow: hidden;
}
/* End Content */

/* Start Head */
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input{
  padding-left: 30px;
  width: 160px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: 0.4s;
}
.head .search input:focus{
  transition: 0.4s;
  width: 180px;
}
.head .search input:focus::placeholder{
  color: transparent;
}
.head .icons .icon::before{
  content: '';
  position: absolute;
  right: -5px;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.head .icons img{
  width: 30px;
  height: 30px;
}
/* End Head */

/* Start Content Title */
.content h1{
  margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  border-radius: 7px;
}
.content h1::before{
  width: 120px;
  background-color: white;
}
.content h1::after{
  width: 30px;
  background-color: black;
}
/* End Content Title */

/* Start Content Wrapper */
.content .wrapper{
  grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
  margin-left: 20px ;
  margin-right: 20px ;
}
@media (max-width:767px) {
  .content .wrapper{
    grid-template-columns: minmax(200px,1fr);
    margin-left: 10px ;
    margin-right: 10px ;
  }
}
.welcome .intro img{
  width: 170px;
}
.welcome .body{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.welcome .avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 20px;
  border: 2px solid white;
}
.welcome .body > div{
  flex: 1;
}
.welcome a.visit{
  margin: 10px 15px 15px auto;
}

@media (max-width:767px) {
  .welcome .intro img{
    display: none;
  }
  .welcome .avatar{
    margin-left: 0;
  }
  .welcome .body {
    flex-direction: column;
  }
  .welcome .body > div{
    margin-bottom: 20px;
  }
  .welcome .body > div span{
    margin-top: 0;
  }
}
/* End Content Wrapper */
